@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  height: 100%;
}


.button {
  font-family: "PT Sans" sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  border: transparent;
}


.box-shadow-container {
  width: 1200px;
  min-height: 100%;
  background-color: #ffffff;
  color: #333333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.main-header {
  display: flex;
  justify-content: flex-start;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation-user {
  margin-left: auto;
}

.navigation {
  display: flex;
}

.navigation-list,
.advantages-list,
.service-list,
.footer-social-list {
  list-style: none;
  padding: 0;
}

.navigation-list {
  display: flex;
  row-gap: 32px;
  justify-content: space-between;
  min-width: 300px;
}


.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.logo-link {
  margin-right: 46px;
}


img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.favorite-hotels {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.main-index {
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.hero {
  background-color: #82B3D3;
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  padding-left: 290px;
  padding-right: 290px;
  padding-top: 69px;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item,
.advantages-card {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
  width: 400px;
}

.advantages-item-blue {
  background-color: #82B3D3;
  color: #ffffff;
  width: 100%;
  display: flex;
}

.advantages-item-light-blue {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.advantages-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding-bottom: 69px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color:  #333333;
}

.service-item {
  background-color: #83B3D3;
}

.service-item-white {
  background-color: #ffffff;
}

.service-lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.service-about {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.service-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.service-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
}

.subscribe-section {
  background-color: #82B3D3;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.contacts-phone {
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.content-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.filter-wrapper {
  background-color: #82B3D3;
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.breadcrams-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.button-submit {
  background: #82B3D3;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.button-reset {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.products-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.product-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}

.product-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
}

.product-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
}

.product-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-current{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination-dots {
  background-color: #ffffff;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.newsletter-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
