@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
}


.button {
  font-family: "PT Sans" sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  border: transparent;
}


.box-shadow-container {
  width: 1200px;
  background-color: #ffffff;
  color: #333333;
  box-shadow: 0, 0, 15px, rgba (0, 0, 0, 0.2);
}


.navigation-item {
  list-style: none;
}


.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}


img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0px;
  border: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.favorite-hotels {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}


.main-index {
  color: #000000;
}


.hero {
  background-color: #82B3D3;
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


.advantages-lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item-blue {
  background-color: #82B3D3;
}


.advantages-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}


.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}


.advantages-description {
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #ffffff;
}

.service-lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
